<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HRKladeEntities" connectionString="metadata=res://*/Model.HRKladeEntities.csdl|res://*/Model.HRKladeEntities.ssdl|res://*/Model.HRKladeEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=44.211.210.32,1433\SQLEXPRESS;initial catalog=HRKlade;user id=sa;password=AwSAdmin1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>