<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="99.2.12" targetFramework="net461" />
  <package id="cef.redist.x86" version="99.2.12" targetFramework="net461" />
  <package id="CefSharp.Common" version="99.2.120" targetFramework="net461" />
  <package id="CefSharp.OffScreen" version="99.2.120" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="99.2.120" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.12" targetFramework="net461" />
  <package id="HtmlAgilityPack.CssSelectors.NetCore" version="1.2.1" targetFramework="net461" />
</packages>