@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sport Type ID</h1>
    <p class="lead">Kladionice </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        @*<h2>Getting started</h2>*@
        <p class="lead">Nogomet = 1 </p>
        <p class="lead">Košarka = 2 </p>
        <p class="lead">Tenis = 3 </p>
        <p class="lead">Hokej = 4 </p>
        <p class="lead">Rukomet = 5 </p>
        <p class="lead">Bejzbol = 6 </p>
        <p class="lead">Boks = 7 </p>
        <p class="lead">Esports = 8 </p>
        <p class="lead">Odbojka = 9 </p>
        <p class="lead">Pikado = 10 </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <p class="lead">Rugby = 11 </p>
        <p class="lead">Stolni tenis = 12 </p>
        <p class="lead">Ultimate fight = 13 </p>
        <p class="lead">Vaterpolo = 14 </p>
        <p class="lead">Hokej na travi = 15 </p>
        <p class="lead">Mali nogomet/futsal = 16 </p>
        <p class="lead">Kriket = 17 </p>
        <p class="lead">Nogomet Žene = 18 </p>
        <p class="lead">MMA = 19 </p>
        <p class="lead">Formula1 = 20 </p>
    </div>
    <div class="col-md-4">
        <p class="lead">Aussierules = 21 </p>
        <p class="lead">Motociklizam = 22 </p>
        <p class="lead">Lacrosse = 23 </p>
        <p class="lead">Floorball = 24 </p>
        <p class="lead">Badminton = 25 </p>
        <p class="lead">Atletika = 26 </p>
        <p class="lead">Snooker = 27  </p>
        <p class="lead">Squash = 28 </p>
        <p class="lead">Šah = 29 </p>
        <p class="lead">Biciklizam = 30 </p>
        <p class="lead">Skijaški skokovi = 31 </p>
        <p class="lead"> </p>
    </div>
</div>